/**
 * navbar v.1.0
 */

$custom-navbar-bg: #3c8dbc;
$custom-navbar-color: #FFF;

$custom-navbar-toggler-btn-color: #FFF;

$custom-navbar-hover-item-bg: rgba(0,0,0,0.1);
$custom-navbar-hover-link-bg: transparent;
$custom-navbar-hover-color: #f6f6f6;

$custom-navbar-active-item-bg: rgba(0,0,0,0.1);
$custom-navbar-active-link-bg: transparent;
$custom-navbar-active-color: #f6f6f6;

$custom-navbar-disabled-item-bg: transparent;
$custom-navbar-disabled-link-bg: transparent;
$custom-navbar-disabled-color: #f6f6f6;

$custom-subheader-bg: #ecf0f5;
$custom-subheader-border-bottom: 1px solid transparent;

$custom-dropdown-header-bg: #3c8dbc;
$custom-dropdown-header-color: #FFF;

$custom-dropdown-item-bg: transparent;
$custom-dropdown-item-color: #666;
$custom-dropdown-item-hover-bg: #f4f4f4;
$custom-dropdown-item-hover-color: #666;

