/*
 * sidebar v.3.0
 */

// toggler icon
$custom-sidebar-chevron-white: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'><path fill='rgb(255, 255, 255)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/></svg>");
$custom-sidebar-chevron-light: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'><path fill='rgba(255, 255, 255, 0.5)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/></svg>");
$custom-sidebar-chevron-dark: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'><path fill='rgba(0, 0, 0, 0.5)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/></svg>");

// toggler icon
$custom-sidebar-toggler-icon: $custom-sidebar-chevron-light;
$custom-sidebar-toggler-icon-hover: $custom-sidebar-chevron-light;
$custom-sidebar-toggler-icon-active: $custom-sidebar-chevron-light;

// brand
$custom-sidebar-brand-bg: #3c8dbc;

// title
$custom-sidebar-nav-title-color: #B8C7CE;

// A.1
$custom-sidebar-main-bg: #222D32;

$custom-sidebar-main-link-bg: #222D32;
$custom-sidebar-main-link-color: #B8C7CE;
$custom-sidebar-main-link-icon-color: #B8C7CE;

// A.2
$custom-sidebar-main-link-bg-hover: #1E282C;
$custom-sidebar-main-link-color-hover: #FFFFFF;
$custom-sidebar-main-link-icon-color-hover: #FFFFFF;

// A.3
$custom-sidebar-main-link-bg-active: #1E282C;
$custom-sidebar-main-link-color-active: #FFFFFF;
$custom-sidebar-main-link-icon-color-active: #FFFFFF;

// A.4
$custom-sidebar-main-link-bg-selected: #1E282C;
$custom-sidebar-main-link-color-selected: #FFFFFF;
$custom-sidebar-main-link-icon-color-selected: #FFFFFF;

// B.1
$custom-sidebar-dropdown-bg: #2C3B41;

$custom-sidebar-dropdown-link-bg: #2C3B41;
$custom-sidebar-dropdown-link-color: #B8C7CE;
$custom-sidebar-dropdown-link-icon-color: #B8C7CE;

// B.2
$custom-sidebar-dropdown-link-bg-hover: #2C3B41;
$custom-sidebar-dropdown-link-color-hover: #FFFFFF;
$custom-sidebar-dropdown-link-icon-color-hover: #FFFFFF;

// B.3
$custom-sidebar-dropdown-link-bg-active: #2C3B41;
$custom-sidebar-dropdown-link-color-active: #FFFFFF;
$custom-sidebar-dropdown-link-icon-color-active: #FFFFFF;

// C.1
$custom-sidebar-minimized-minimized-main-bg: #222D32;

$custom-sidebar-minimized-main-link-bg: #222D32;
$custom-sidebar-minimized-main-link-color: #B8C7CE;
$custom-sidebar-minimized-main-link-icon-color: #B8C7CE;

// C.2
$custom-sidebar-minimized-main-link-bg-hover: #1E282C;
$custom-sidebar-minimized-main-link-color-hover: #FFFFFF;
$custom-sidebar-minimized-main-link-icon-color-hover: #FFFFFF;

// C.3
$custom-sidebar-minimized-main-link-bg-active: #1E282C;
$custom-sidebar-minimized-main-link-color-active: #FFFFFF;
$custom-sidebar-minimized-main-link-icon-color-active: #FFFFFF;

// C.4
$custom-sidebar-minimized-main-link-bg-selected: #1E282C;
$custom-sidebar-minimized-main-link-color-selected: #FFFFFF;
$custom-sidebar-minimized-main-link-icon-color-selected: #FFFFFF;

// D.1
$custom-sidebar-minimized-dropdown-bg: #2C3B41;

$custom-sidebar-minimized-dropdown-link-bg: #2C3B41;
$custom-sidebar-minimized-dropdown-link-color: #B8C7CE;
$custom-sidebar-minimized-dropdown-link-icon-color: #B8C7CE;

// D.2
$custom-sidebar-minimized-dropdown-link-bg-hover: #2C3B41;
$custom-sidebar-minimized-dropdown-link-color-hover: #FFFFFF;
$custom-sidebar-minimized-dropdown-link-icon-color-hover: #FFFFFF;

// D.3
$custom-sidebar-minimized-dropdown-link-bg-active: #2C3B41;
$custom-sidebar-minimized-dropdown-link-color-active: #FFFFFF;
$custom-sidebar-minimized-dropdown-link-icon-color-active: #FFFFFF;
