$primary:       #007ae1 !default;
$secondary:     #ff3e61 !default;
$success:       #00bb42 !default;
$info:          #007ae1 !default;
$warning:       #ffbf05 !default;
$danger:        #ff3e3e !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;
