/**
 * navbar v.1.0
 */

$custom-navbar-bg: #fff;
$custom-navbar-color: #9fa8b9;

$custom-navbar-toggler-btn-color: #007ae1;

$custom-navbar-hover-item-bg: transparent;
$custom-navbar-hover-link-bg: transparent;
$custom-navbar-hover-color: #007ae1;

$custom-navbar-active-item-bg: transparent;
$custom-navbar-active-link-bg: transparent;
$custom-navbar-active-color: #007ae1;

$custom-navbar-disabled-item-bg: transparent;
$custom-navbar-disabled-link-bg: transparent;
$custom-navbar-disabled-color: #9fa8b9;

$custom-subheader-bg: #f5f6fa;
$custom-subheader-border-bottom: 1px solid transparent;

$custom-dropdown-header-bg: #007ae1;
$custom-dropdown-header-color: #FFF;

$custom-dropdown-item-bg: transparent;
$custom-dropdown-item-color: #000000;
$custom-dropdown-item-hover-bg: lighten(#007ae1, 20%);
$custom-dropdown-item-hover-color: #ffffff;

