/*
 * sidebar v.2.0
 */

 .c-sidebar {
  background: $custom-sidebar-bg;

  // brand
  .c-sidebar-brand,
  .c-sidebar-header {
    background: $custom-sidebar-brand-bg;
  }

  // title
  .c-sidebar-nav-title {
    color: $custom-sidebar-nav-title-color;
  }

  // main
  .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown-toggle {
    background: transparent;
    color: $custom-sidebar-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-color;
    }

    &:hover {
      background: $custom-sidebar-nav-link-hover-bg;
      color: $custom-sidebar-nav-link-hover-color;

      .c-sidebar-nav-icon {
        color: $custom-sidebar-nav-link-hover-color;
      }
    }

    &.c-active {
      background: $custom-sidebar-nav-link-active-bg;
      color: $custom-sidebar-nav-link-active-color;

      .c-sidebar-nav-icon {
        color: $custom-sidebar-nav-link-active-icon-color;
      }
    }
  }

  // selected
  .c-sidebar-nav-item.c-show,
  .c-sidebar-nav-dropdown.c-show {
    &> .c-sidebar-nav-link,
    &> .c-sidebar-nav-dropdown-toggle {
      background: $custom-sidebar-nav-link-selected-bg;
      color: $custom-sidebar-nav-link-selected-color;

      .c-sidebar-nav-icon {
        color: $custom-sidebar-nav-link-selected-icon-color;
      }
    }
  }

  // dropdown
  .c-sidebar-nav-dropdown {
    .c-sidebar-nav-dropdown-items {
      background: $custom-sidebar-nav-dropdown-bg;

      .c-sidebar-nav-link,
      .c-sidebar-nav-dropdown-toggle {
        background: transparent;
        color: $custom-sidebar-nav-dropdown-color;

        .c-sidebar-nav-icon {
          color: $custom-sidebar-nav-dropdown-icon-color;
        }

        &:hover {
          background: $custom-sidebar-nav-dropdown-link-hover-bg;
          color: $custom-sidebar-nav-dropdown-link-hover-color;

          .c-sidebar-nav-icon {
            color: $custom-sidebar-nav-dropdown-link-hover-icon-color;
          }
        }

        &.c-active {
          background: $custom-sidebar-nav-dropdown-link-active-bg;
          color: $custom-sidebar-nav-dropdown-link-active-color;

          .c-sidebar-nav-icon {
            color: $custom-sidebar-nav-dropdown-link-active-icon-color;
          }
        }
      }
    }
  }

  // dropdown toggle
  .c-sidebar-nav-dropdown-toggle::after {
    background-image: $custom-sidebar-chevron-dark;
  }

  .c-sidebar-nav-dropdown-toggle.c-sidebar-nav-link:hover::after,
  .c-sidebar-nav-dropdown-toggle:hover::after {
    background-image: $custom-sidebar-chevron-dark;
  }
}

.c-sidebar.c-sidebar-minimized {
  background: $custom-sidebar-bg;

  // main
  .c-sidebar-nav {
    &> .c-sidebar-nav-dropdown {
      &> .c-sidebar-nav-dropdown-items {
        background: $custom-sidebar-minimized-nav-dropdown-bg;
      }
    }
  }

  // selected
  .c-sidebar-nav-dropdown:hover,
  .c-sidebar-nav-item:hover {
    &> .c-sidebar-nav-link,
    &> .c-sidebar-nav-dropdown-toggle {
      background: $custom-sidebar-minimized-nav-dropdown-link-active-bg;
      color: $custom-sidebar-minimized-nav-dropdown-link-active-color;

      .c-sidebar-nav-icon {
        color: $custom-sidebar-minimized-nav-dropdown-link-active-icon-color;
      }
    }
  }

  .c-sidebar-nav-link:hover,
  .c-sidebar-nav-dropdown-toggle:hover {
    background: $custom-sidebar-minimized-nav-dropdown-link-hover-bg;
    color: $custom-sidebar-minimized-nav-dropdown-link-hover-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-nav-dropdown-link-hover-icon-color;
    }
  }

  .c-sidebar-nav-item:hover,
  .c-sidebar-nav-dropdown:hover {
    &> .c-sidebar-nav-link:hover,
    &> .c-sidebar-nav-dropdown-toggle:hover {
      background: $custom-sidebar-minimized-nav-dropdown-link-hover-bg;
      color: $custom-sidebar-minimized-nav-dropdown-link-hover-color;

      .c-sidebar-nav-icon {
        color: $custom-sidebar-minimized-nav-dropdown-link-hover-icon-color;
      }
    }
  }

  // dropdown
  .c-sidebar-nav-dropdown {
    .c-sidebar-nav-dropdown-items {
      background: $custom-sidebar-minimized-nav-dropdown-bg;

      .c-sidebar-nav-link,
      .c-sidebar-nav-dropdown-toggle {
        background: transparent;
        color: $custom-sidebar-minimized-nav-dropdown-color;

        .c-sidebar-nav-icon {
          color: $custom-sidebar-minimized-nav-dropdown-color;
        }

        &:hover {
          background: $custom-sidebar-minimized-nav-dropdown-link-hover-bg;
          color: $custom-sidebar-minimized-nav-dropdown-link-hover-color;

          .c-sidebar-nav-icon {
            color: $custom-sidebar-minimized-nav-dropdown-link-hover-icon-color;
          }
        }

        &.c-active {
          background: $custom-sidebar-minimized-nav-dropdown-link-active-bg;
          color: $custom-sidebar-minimized-nav-dropdown-link-active-color;

          .c-sidebar-nav-icon {
            color: $custom-sidebar-minimized-nav-dropdown-link-active-icon-color;
          }
        }
      }
    }
  }
}
