/*
 * sidebar v.3.0
 */

// brand
.c-sidebar {
  .c-sidebar-brand,
  .c-sidebar-header {
    background: $custom-sidebar-brand-bg;
  }
}

// title
.c-sidebar {
  .c-sidebar-nav-title {
    color: $custom-sidebar-nav-title-color;
  }
}

// dropdown toggle
.c-sidebar {
  .c-sidebar-nav-dropdown-toggle::after {
    background-image: $custom-sidebar-toggler-icon;
  }

  .c-sidebar-nav-dropdown-toggle.c-sidebar-nav-link:hover::after,
  .c-sidebar-nav-dropdown-toggle:hover::after {
    background-image: $custom-sidebar-toggler-icon-hover;
  }

  .c-sidebar-nav-dropdown.c-show {
    .c-sidebar-nav-dropdown-toggle.c-sidebar-nav-link::after,
    .c-sidebar-nav-dropdown-toggle::after {
      background-image: $custom-sidebar-toggler-icon-active;
    }
  }
}

// A.1
.c-sidebar {
  background: $custom-sidebar-main-bg;
}

// A.1
.c-sidebar {
  .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-main-link-bg;
    color: $custom-sidebar-main-link-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-main-link-icon-color;
    }
  }
}

// A.2
.c-sidebar {
  .c-sidebar-nav-link:hover,
  .c-sidebar-nav-dropdown-toggle:hover {
    background: $custom-sidebar-main-link-bg-hover;
    color: $custom-sidebar-main-link-color-hover;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-main-link-icon-color-hover;
    }
  }
}

// A.3
.c-sidebar {
  .c-sidebar-nav-link.c-active,
  .c-sidebar-nav-dropdown-toggle.c-active {
    background: $custom-sidebar-main-link-bg-active;
    color: $custom-sidebar-main-link-color-active;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-main-link-icon-color-active;
    }
  }
}

// A.4
.c-sidebar {
  .c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-main-link-bg-selected;
    color: $custom-sidebar-main-link-color-selected;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-main-link-icon-color-selected;
    }
  }
}

// B.1
.c-sidebar {
  .c-sidebar-nav-item.c-show > .c-sidebar-nav-dropdown-items,
  .c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-dropdown-items {
    background: $custom-sidebar-dropdown-bg;
  }
}

// B.1
.c-sidebar {
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle  {
    background: $custom-sidebar-dropdown-link-bg;
    color: $custom-sidebar-dropdown-link-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-dropdown-link-icon-color;
    }
  }
}

// B.2
.c-sidebar {
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-link:hover,
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle:hover {
    background: $custom-sidebar-dropdown-link-bg-hover;
    color: $custom-sidebar-dropdown-link-color-hover;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-dropdown-link-icon-color-hover;
    }
  }
}

// B.3
.c-sidebar {
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-link.c-active,
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle.c-active {
    background: $custom-sidebar-dropdown-link-bg-active;
    color: $custom-sidebar-dropdown-link-color-active;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-dropdown-link-icon-color-active;
    }
  }
}

// C.1
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-minimized-main-link-bg;
    color: $custom-sidebar-minimized-main-link-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-main-link-icon-color;
    }
  }
}


// C.2
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-item:hover .c-sidebar-nav-link,
  .c-sidebar-nav-item:hover .c-sidebar-nav-dropdown-toggle,
  .c-sidebar-nav-dropdown:hover .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown:hover .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-minimized-main-link-bg-hover;
    color: $custom-sidebar-minimized-main-link-color-hover;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-main-link-icon-color-hover;
    }
  }

  .c-sidebar-nav-item.c-show:hover .c-sidebar-nav-link,
  .c-sidebar-nav-item.c-show:hover .c-sidebar-nav-dropdown-toggle,
  .c-sidebar-nav-dropdown.c-show:hover .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown.c-show:hover .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-minimized-main-link-bg-hover;
    color: $custom-sidebar-minimized-main-link-color-hover;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-main-link-icon-color-hover;
    }
  }
}

// C.3
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-link.c-active,
  .c-sidebar-nav-dropdown-toggle.c-active {
    background: $custom-sidebar-minimized-main-link-bg-active;
    color: $custom-sidebar-minimized-main-link-color-active;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-main-link-icon-color-active;
    }
  }
}

.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-link.c-active,
  .c-sidebar-nav-dropdown-toggle.c-active {
    background: $custom-sidebar-minimized-main-link-bg-active;
    color: $custom-sidebar-minimized-main-link-color-active;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-main-link-icon-color-active;
    }
  }
}

// C.4
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-minimized-main-link-bg-selected;
    color: $custom-sidebar-minimized-main-link-color-selected;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-main-link-icon-color-selected;
    }
  }
}


// D.1
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-item.c-show > .c-sidebar-nav-dropdown-items,
  .c-sidebar-nav-dropdown.c-show > .c-sidebar-nav-dropdown-items {
    background: $custom-sidebar-minimized-dropdown-bg;
  }
}

// D.1
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown.c-show .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle  {
    background: $custom-sidebar-minimized-dropdown-link-bg;
    color: $custom-sidebar-minimized-dropdown-link-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-dropdown-link-icon-color;
    }
  }
}

.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-item:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-link,
  .c-sidebar-nav-item:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle,
  .c-sidebar-nav-dropdown:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-link,
  .c-sidebar-nav-dropdown:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle {
    background: $custom-sidebar-minimized-dropdown-link-bg;
    color: $custom-sidebar-minimized-dropdown-link-color;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-dropdown-link-icon-color;
    }
  }
}

// D.2
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-item:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-link:hover,
  .c-sidebar-nav-item:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle:hover,
  .c-sidebar-nav-dropdown:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-link:hover,
  .c-sidebar-nav-dropdown:hover .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle:hover {
    background: $custom-sidebar-minimized-dropdown-link-bg-hover;
    color: $custom-sidebar-minimized-dropdown-link-color-hover;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-dropdown-link-icon-color-hover;
    }
  }
}

// D.3
.c-sidebar.c-sidebar-minimized {
  .c-sidebar-nav-item .c-sidebar-nav-dropdown-items .c-sidebar-nav-link.c-active,
  .c-sidebar-nav-item .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle.c-active,
  .c-sidebar-nav-dropdown .c-sidebar-nav-dropdown-items .c-sidebar-nav-link.c-active,
  .c-sidebar-nav-dropdown .c-sidebar-nav-dropdown-items .c-sidebar-nav-dropdown-toggle.c-active {
    background: $custom-sidebar-minimized-dropdown-link-bg-active;
    color: $custom-sidebar-minimized-dropdown-link-color-active;

    .c-sidebar-nav-icon {
      color: $custom-sidebar-minimized-dropdown-link-icon-color-active;
    }
  }
}
