/*
 * sidebar v.3.0
 */

// toggler icon
$custom-sidebar-chevron-white: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'><path fill='rgb(255, 255, 255)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/></svg>");
$custom-sidebar-chevron-light: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'><path fill='rgba(255, 255, 255, 0.5)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/></svg>");
$custom-sidebar-chevron-dark: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'><path fill='rgba(0, 0, 0, 0.5)' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/></svg>");

// toggler icon
$custom-sidebar-toggler-icon: $custom-sidebar-chevron-dark;
$custom-sidebar-toggler-icon-hover: $custom-sidebar-chevron-dark;
$custom-sidebar-toggler-icon-active: $custom-sidebar-chevron-white;

// brand
$custom-sidebar-brand-bg: #ffffff;

// title
$custom-sidebar-nav-title-color: #4d4d4d;

// A.1
$custom-sidebar-main-bg: #ffffff;

$custom-sidebar-main-link-bg: #ffffff;
$custom-sidebar-main-link-color: #4d4d4d;
$custom-sidebar-main-link-icon-color: #4d4d4d;

// A.2
$custom-sidebar-main-link-bg-hover: #f5f6fa;
$custom-sidebar-main-link-color-hover: #007ae1;
$custom-sidebar-main-link-icon-color-hover: #007ae1;

// A.3
$custom-sidebar-main-link-bg-active: #007ae1;
$custom-sidebar-main-link-color-active: #ffffff;
$custom-sidebar-main-link-icon-color-active: #ffffff;

// A.4
$custom-sidebar-main-link-bg-selected: #007ae1;
$custom-sidebar-main-link-color-selected: #ffffff;
$custom-sidebar-main-link-icon-color-selected: #ffffff;

// B.1
$custom-sidebar-dropdown-bg: #ffffff;

$custom-sidebar-dropdown-link-bg: #ffffff;
$custom-sidebar-dropdown-link-color: #4d4d4d;
$custom-sidebar-dropdown-link-icon-color: #4d4d4d;

// B.2
$custom-sidebar-dropdown-link-bg-hover: #f5f6fa;
$custom-sidebar-dropdown-link-color-hover: #007ae1;
$custom-sidebar-dropdown-link-icon-color-hover: #007ae1;

// B.3
$custom-sidebar-dropdown-link-bg-active: #ffffff;
$custom-sidebar-dropdown-link-color-active: #007ae1;
$custom-sidebar-dropdown-link-icon-color-active: #007ae1;

// C.1
$custom-sidebar-minimized-minimized-main-bg: #ffffff;

$custom-sidebar-minimized-main-link-bg: #ffffff;
$custom-sidebar-minimized-main-link-color: #4d4d4d;
$custom-sidebar-minimized-main-link-icon-color: #4d4d4d;

// C.2
$custom-sidebar-minimized-main-link-bg-hover: #f5f6fa;
$custom-sidebar-minimized-main-link-color-hover: #007ae1;
$custom-sidebar-minimized-main-link-icon-color-hover: #007ae1;

// C.3
$custom-sidebar-minimized-main-link-bg-active: #007ae1;
$custom-sidebar-minimized-main-link-color-active: #ffffff;
$custom-sidebar-minimized-main-link-icon-color-active: #ffffff;

// C.4
$custom-sidebar-minimized-main-link-bg-selected: #007ae1;
$custom-sidebar-minimized-main-link-color-selected: #ffffff;
$custom-sidebar-minimized-main-link-icon-color-selected: #ffffff;

// D.1
$custom-sidebar-minimized-dropdown-bg: #ffffff;

$custom-sidebar-minimized-dropdown-link-bg: #ffffff;
$custom-sidebar-minimized-dropdown-link-color: #4d4d4d;
$custom-sidebar-minimized-dropdown-link-icon-color: #4d4d4d;

// D.2
$custom-sidebar-minimized-dropdown-link-bg-hover: #f5f6fa;
$custom-sidebar-minimized-dropdown-link-color-hover: #007ae1;
$custom-sidebar-minimized-dropdown-link-icon-color-hover: #007ae1;

// D.3
$custom-sidebar-minimized-dropdown-link-bg-active: #ffffff;
$custom-sidebar-minimized-dropdown-link-color-active: #007ae1;
$custom-sidebar-minimized-dropdown-link-icon-color-active: #007ae1;
