$primary:       #3c8dbc !default;
$secondary:     #6c757d !default;
$success:       #00a65a !default;
$info:          #00c0ef !default;
$warning:       #f39c12 !default;
$danger:        #dd4b39 !default;
$light:         #f8f9fa !default;
$dark:          #343a40 !default;
